/* Import for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Override defaiult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */ 
header {
    background-color: #385E72;
    z-index: 99;
    width:100%;
}

#logo {
    width: 250px;
    margin: 10px 10px;
}

/* Main Styles */
main {
    /* Make main element take up screen and push footer down */
    flex: 1 0 auto;
    background-color: White;
}

/* Footer Styles */
footer {
    background-color: #385E72;
}