/* Import for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Override defaiult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1a1a1a;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;  
}

p {
    color: #1a1a1a;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal; 
}

/* Header*/ 
header {
    background-color: #385E72;
    z-index: 99;
    width:100%;
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 2px 2px #797979;
    padding: 0 0.5rem;
}

#logo {
    width: 200px;
    margin: 10px 5px;
}

#menu > li {
    margin-bottom: 5px;
    color: #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #385E72;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 2px #797979;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px #797979;
}

/* Nav Toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    align-self: center;
}

/* Nav bar styling */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    margin-bottom: 1em;
}

header i {
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Main Styles */
main {
    /* Make main element take up screen and push footer down */
    flex: 1 0 auto;
    background-color: White;
}

/* Footer Styles */
footer {
    background-color: #385E72;
    text-align: center;
    line-height: 1.5em;
}

footer p {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal; 
}

footer h4 {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-style: bold; 
    font-size: 23px;
    margin-bottom: 5px;
}

footer i {
    color: #ffffff;
    font-size: 1.5em;
}

footer div {
    padding: 1em 1em;
}

#social-icons i {
    margin: 0px 5px;
}